<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
            <div class="caption">
                <h3>Gothic Game</h3>
                <p class="discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facere incidunt officiis vitae. Assumenda, cum deleniti distinctio ducimus et exercitationem harum id ipsam nisi odio provident quam, quia, sint velit.</p>
                <div class="clearfix">
                    <div class="price pull-left">$20/-</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
            <div class="caption">
                <h3>Gothic Game</h3>
                <p class="discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facere incidunt officiis vitae. Assumenda, cum deleniti distinctio ducimus et exercitationem harum id ipsam nisi odio provident quam, quia, sint velit.</p>
                <div class="clearfix">
                    <div class="price pull-left">$20/-</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
            </div>
        </div>
    </div><div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
        <div class="caption">
            <h3>Gothic Game</h3>
            <p class="discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facere incidunt officiis vitae. Assumenda, cum deleniti distinctio ducimus et exercitationem harum id ipsam nisi odio provident quam, quia, sint velit.</p>
            <div class="clearfix">
                <div class="price pull-left">$20/-</div>
                <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
        </div>
    </div>
</div><div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
        <div class="caption">
            <h3>Gothic Game</h3>
            <p class="discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facere incidunt officiis vitae. Assumenda, cum deleniti distinctio ducimus et exercitationem harum id ipsam nisi odio provident quam, quia, sint velit.</p>
            <div class="clearfix">
                <div class="price pull-left">$20/-</div>
                <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
        </div>
    </div>
</div><div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
        <div class="caption">
            <h3>Gothic Game</h3>
            <p class="discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facere incidunt officiis vitae. Assumenda, cum deleniti distinctio ducimus et exercitationem harum id ipsam nisi odio provident quam, quia, sint velit.</p>
            <div class="clearfix">
                <div class="price pull-left">$20/-</div>
                <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
        </div>
    </div>
</div><div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
        <div class="caption">
            <h3>Gothic Game</h3>
            <p class="discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facere incidunt officiis vitae. Assumenda, cum deleniti distinctio ducimus et exercitationem harum id ipsam nisi odio provident quam, quia, sint velit.</p>
            <div class="clearfix">
                <div class="price pull-left">$20/-</div>
                <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
        </div>
    </div>
</div>
</div>

